$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

//@import '~bulma/bulma.sass';
.wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.wrap-border {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #345678;
    align-items: baseline;
    border-radius: 8px;
    background-color: #234567;
    margin: 4px;
    box-shadow: 4px 4px #012345;
    padding: 8px;
}

.menulist {
    -webkit-appearance: menulist-button;
}

.table {
    border-collapse: collapse;
    margin: 4px;
}

.row {
    border: 1px solid #123456;
}

.cell {
    padding: 4px;
}

.text {
    margin: 4px;
}

.parent {
    margin: 4px;
    border: 1px solid #456789;
    background-color: #345678;
    border-radius: 8px;
    padding: 4px;
    color: #6789ab;
    font-size: small;
}
